ErrorDocument 404 /404.html
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv PORT 3000
SetEnv EMAIL_USER hoangquan@caotanghanoi.com
SetEnv EMAIL_PASS 0338311009abcD@@
SetEnv EMAIL_RECEIVE vuongq303@gmail.com
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END